<div>
    <form [formGroup]="userForm" (ngSubmit)="handleForm()">
        <h5>Firstname</h5>
        <input type="text" formControlName="firstname"><br />
        <span *ngIf="!userForm.controls['firstname'].pristine && userForm.controls['firstname'].invalid"
            class="text-danger">
            Firstname must have minimum 3 characters
        </span> <br />
        
        <h5>Lastname</h5>
        <input type="text" formControlName="lastname"><br />
        <span *ngIf="!userForm.controls['lastname'].pristine && userForm.controls['lastname'].invalid"
            class="text-danger">
            Lastname must have minimum 1 characters
        </span> <br />

        <h5>Phone</h5>
        <input type="number" formControlName="phone"><br />
        <span *ngIf="!userForm.controls['phone'].pristine && userForm.controls['phone'].invalid"
            class="text-danger">
            Phone must have 10 numbers
        </span> <br />


        <input type="submit" value="Register" [disabled] = "userForm.invalid">
    </form>
    <div>
        <p>Firstname !pristine : {{userForm.controls['firstname'].pristine}}</p>
        <p>Firstname invalid : {{userForm.controls['firstname'].invalid}}</p>
        <p>Form group invalid : {{userForm.invalid}}</p>
    </div>
</div>